.Add-transaction  {
    display: flex;
    flex-direction: column;
}

.add-transaction-form {
    display: flex;
    flex-direction: column;
}

.add-transaction-form > label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.text-field {
    height: 10px;
    padding: 10px;
    border: lightgray solid 1px;
    margin-bottom: 12.5px;
    font-size: 16px;
    border: 1px solid #dedede;
    border-radius: 2px;
}

.amount-submit {
    cursor: pointer;
    background-color: #9c88ff;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    font-size: 16px;
    padding: 10px;
}

.text-field,
.amount-submit:focus {
  outline: 0;
}